<style>
  .test {
    background-color: green;
  }
</style>
<nav class="test">

	<!-- Logo -->
	<a href="/" class="">
		<img src="/img/Main_Logo.png" alt="Osck logo" class="" width="200px"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex">
		<li>
      <a href="/" class="">
        <img src="/img/instagram_icon.svg" alt="Instagram logo" class="" width="40px"/>
      </a>
    </li>
    
		<li>
      <a href="/" class="">
        <img src="/img/facebook_icon.svg" alt="Facebook logo" class="" width="40px"/>
      </a>
    </li>

		<li>
      <a href="/" class="">
        <img src="/img/linkedin_icon.svg" alt="Linkedin logo" class="" width="40px"/>
      </a>
    </li>

		<li>x
      <a href="/" class="">
        <img src="/img/whatsapp_icon.svg" alt="Whatsapp logo" class="" width="40px"/>
      </a>
    </li>
	</ul>
</nav>
