<!-- Contact -->
<div class="mb4 contact-form">
  <h3 class="f3 b lh-title mb3 tc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  <form action="">
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
        </fieldset>
      </div>
    <!-- CPF -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="cpf" name="cpf" placeholder="CPF" class="w-100 mb2">
        </fieldset>
      </div>
    </div>
    <!-- Button -->
    <div class="tc mt-3">
      <button type="submit" class="btn w-20 w-auto-ns submit-btn">Submit</button>
    </div>
  </form>
</div>
