<footer>
  <div class="d-flex flex-row container pt-4">
    <div class="col-sm-4">
			<img src="/images/osck-logotipo.png" width="200px" class="mr-2" />
			<br>
    </div>
    <div class="col-sm-4">
      <h5>CONTATOS</h5>
      <div class="d-flex justify-content-start">
        <img src="/images/phone.svg" width="25px" class="mr-2" /><span
          >(11) 98266 4779</span
        >
      </div>
      <br />
      <div class="d-flex d-flex justify-content-start">
        <img src="/images/email.svg" width="25px" class="mr-2" /><span
          >contato@osck.com.br</span
        >
      </div>
    </div>
    <div class="col-sm-4">
      <h5>LOCALIZAÇÃO</h5>
      <br />
      <div class="d-flex d-flex justify-content-start">
        <img src="/images/pin.svg" width="25px" class="mr-2" />
        <address>
          Belarmino Cardoso de Andrade, 117
          <br />
          Interlagos
          <br />
          São Paulo - SP
        </address>
      </div>
    </div>
  </div>
</footer>
