<div class="gallery">
  <div class="container">
    <div class="d-flex">
      <div class="col-sm text-center">
        <h4>GALERIA DE FOTOS</h4>
      </div>
      <div>
        <img src="/images/instagram_icon_black.svg" width="25px" />
      </div>
    </div>
    <hr />
    <div class="photo-gallery">
      <div class="d-flex flex-row col-sm-12 mt-4 mb-4">
        <div class="col-sm-2 mr-2">
          <img src="/images/instagram_icon_black.svg" width="100%" />
        </div>
        <div class="col-sm-2 mr-2">
          <img src="/images/instagram_icon_black.svg" width="100%" />
        </div>
        <div class="col-sm-2">
          <img src="/images/instagram_icon_black.svg" width="100%" />
        </div>
        <div class="col-sm-2">
          <img src="/images/instagram_icon_black.svg" width="100%" />
        </div>
        <div class="col-sm-2">
          <img src="/images/instagram_icon_black.svg" width="100%" />
        </div>
        <div class="col-sm-2">
          <img src="/images/instagram_icon_black.svg" width="100%" />
        </div>
      </div>
    </div>
    <div class="float-right pr-2">
      <a href="#" class="show-more">Ver mais</a>
    </div>
  </div>
</div>
