/* Text colors */

.highlight {
  color: var(--highlight);
}

.white {
  color: var(--white);
}

.off-white {
  color: var(--off-white);
}

.black {
  color: var(--black);
}


/* Osck colors */
.dark-green {
  color: var(--dark-green);
}

.medium-green {
  color: var(--medium-green);
}

.light-green {
  color: var(--light-green);
}
