:root {
	/* Colors */
	--highlight: rgba(254, 213, 198, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--dark-green: rgb(28,71,32);
	--medium-green: rgb(70,152,36);
	--light-green: #7eb339;
	--black: rgba(43, 37, 35, 1);
}