@import "bootstrap/scss/bootstrap";
//@import "../css/main.css";

// :root {
// 	/* Colors */
// 	--highlight: rgba(254, 213, 198, 1);
// 	--white: rgba(255, 255, 255, 1);
// 	--off-white: rgba(255, 253, 252, 1);
// 	--dark-green: rgb(28,71,32);
// 	--medium-green: rgb(70,152,36);
// 	--light-green: #7eb339;
// 	--black: rgba(43, 37, 35, 1);
// }

$dark-green: rgb(28, 71, 32);
$light-green: #7eb339;
$medium-green: rgb(70, 152, 36);
$grey: #bcbcbc;
$white: #fff;
$black: #000;

.nav-brand {
  background-color: $dark-green;
  overflow: hidden;
  height: 80px;
}

.social-buttons {
  list-style: none;
}

.jumbotron {
  background: url("/images/hero.jpg") no-repeat right,
    linear-gradient(to right, $medium-green, $light-green);
  height: 375px;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.main-nav {
  background: linear-gradient($grey, $white);
}

.nav-link {
  color: $gray-800;
}

.nav-link:hover {
  color: $gray-600;
}

//descobrir como remover do primeiro elemento
.nav-link::before {
  content: "•";
  color: green;
  margin-right: 30px;
}

.contact-form {
  color: $white;
  float: right;
  margin: 3% 0;
  width: 25%;
}

.contact {
  background: url("/images/contact-bg.jpg") no-repeat center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 400px;
}

input[type="text"],
input[type="email"] {
  background: none !important;
  border-bottom: 1px dotted $grey;
  outline: 0;
  border-width: 0 0 1px;
}

input:focus {
  outline: none !important;
}

input::placeholder {
  color: $grey;
  font-size: 12px;
  padding: 5px;
}

.submit-btn {
  background-color: rgb(126, 179, 57);
  color: $white;
}

.gallery {
  height: 350px;
  width: 100%;
  background-image: linear-gradient($white, $grey);
  padding: 10px 0;
}

.gallery-header {
  border-bottom: 2px solid $dark-green;
}

hr {
  border-top: 2px solid $black;
}

.show-more {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

footer {
  background: linear-gradient($medium-green, $light-green);
  height: 200px;
}